[world]
class = world.WorldBuilder
subbuilders = ["detenclosure"]
material = "Air"
width = Q('3000cm')
height = Q('3000cm')
depth = Q('3000cm')

[detenclosure]
class = protodune.ProtoDUNEVDBuilder
subbuilders = ["steelsupport", "foam", "cryostat", "beamelements"]

# TPC parameters
tpc_parameters = "{'inch': 2.54, 'nChans': {'Ind1': 476, 'Ind2': 476, 'Col': 584}, 'nViews': 3, 'wirePitch': {'U': Q('0.765cm'), 'V': Q('0.765cm'), 'Z': Q('0.51cm')}, 'wireAngle': {'U': Q('150.0deg'), 'V': Q('30.0deg')}, 'offsetUVwire': [Q('1.50cm'), Q('0.87cm')], 'lengthPCBActive': Q('149.0cm'), 'widthPCBActive': Q('335.8cm'), 'gapCRU': Q('0.1cm'), 'borderCRP': Q('0.6cm'), 'nCRM_x': 4, 'nCRM_z': 2, 'padWidth': Q('0.02cm'), 'driftTPCActive': Q('338.5cm')}"

# Cryostat parameters
cryostat_parameters = "{'Argon_x': Q('789.6cm'), 'Argon_y': Q('854.4cm'), 'Argon_z': Q('854.4cm'), 'HeightGaseousAr': Q('49.7cm'), 'SteelThickness': Q('0.2cm'), 'Upper_xLArBuffer_base': Q('23.6cm'), 'Lower_xLArBuffer_base': Q('34.7cm')}"

[steelsupport]
class = steelsupport.SteelSupportBuilder
# contain Top/Bottom Support, US/DS Support, Left/Right Support

[foam]
class = foam.FoamBuilder

[cryostat]
class = cryostat.CryostatBuilder
# contain Steel Shell, Argon Volume
# Argon Volume further contains GasArgon and LiquidArgon
# Within Liquid Argon we have the rest
subbuilders = ["fieldcage", "cathode", "tpcs", "pmts", "xarapuca"]

[beamelements]
class = beamelements.BeamElementsBuilder
# contain beamWindow, beamPipe, beamPlug

[fieldcage]
class = fieldcage.FieldCageBuilder
# Thick Field Shapers, #Slim Field Shapers 

[cathode]
class = cathode.CathodeBuilder
# contain Cathode Frame, Cathode Mesh

[tpcs]
class = tpcs.TPCBuilder
#contain Top TPCs, Bottom TPCs

[pmts]  
class = pmts.PMTBuilder

[xarapuca]
class = xarapuca.XARAPUCABuilder
